* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: rgb(39, 153, 137);
}

section {
  background-color: rgb(68, 160, 128);
}

fieldset {
  background-color: rgb(255, 200, 69);
}

ul {
  list-style-type: none;
}
